@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #1A1A1A;
  color: #FFFFFF;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #3a4b56;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #556a79;
}
